/*Reset CSS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none; 
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
}

body {
  /*  background: #ffffff;*/
  overflow-x: hidden;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Typography */

/*html {
  font-size: 18pt;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1152px) {
  html {
    font-size: 14pt;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 11pt;
  }
}

/**************/

body {
  /* background-color: #e3fdee;*/
  font-size: ;
background: #EEF0F4;
color: black;
}


body {
  font-size: clamp(100%, 1rem + 2vw, 24px);}


* {
  box-sizing: border-box;
}


h1 {
  color: #121272;
}
.container {
  margin: ;
  padding: ;
  max-width: ;
  /*border: 2px solid red;*/
}
.row {
  flex: ;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 3em;
  width: ;
  borders: 2px dashed;
  border-radius: 20px;
 
box-shadow: inset 9.91px 9.91px 15px #A3A4A7, inset -4.91px -4.91px 15px #FFFFFF;
}
.column {
  flex: ;
  display: ;
  flex-wrap: ;
  align-items: ;
  justify-content: space-evenly;
  width: ;
  height: ;
  margin: 10px;
  padding: ;
  border: 2px solid #121272;
  /* background: #c8ceea;
  box-shadow: inset 9.91px 9.91px 15px #b6bbd5,
    inset -9.91px -9.91px 15px #dae1ff;*/


 background: linear-gradient(145deg, #CACCCF, #FFFFFF);
box-shadow: 9.91px 9.91px 15px #A3A4A7, -4.91px -4.91px 15px #FFFFFF;
}
.square {
  /*background-image: url("/images/profile3.jpeg");
  background-size: cover;*/
  border: 2px dashed #121272;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c8ceea;
  border-radius: 15%;
  box-shadow: inset 9.91px 9.91px 15px #b6bbd5,
    inset -9.91px -9.91px 15px #dae1ff;

    
}
/*.square {
  background: linear-gradient(145deg, #cacccf, #ffffff);
  border-radius: 20px;
  box-shadow: 2.1px 2.1px 15px rgb(11, 12, 15), -2.1px -2.1px 15px #ffffff;
  border: 2px solid black;
  margin-right: -2px;
  padding: ;
  height: 30vh;
  width: 30vh;
  overflow: hidden;
  z-index: 1;
}
*/
/*
.square:active {
  box-shadow: none;
}
.square:hover {
  padding: 5px;
  box-shadow: none;
  border: 2px solid red;
}*/
img {
  /*  height: auto;*/
  max-width: 100%;
  /*height: 10rem;
  width: 10rem;*/
  height: 24rem;
  width: 24rem;
  border-radius: 20px;
  margin: aut;
  background: linear-gradient(145deg, #cacccf, #ffffff);

  /*  box-shadow: 2.1px 2.1px 15px rgb(11, 12, 15), -2.1px -2.1px 15px #ffffff;*/
}

.details {
  height: ;
  width: ;
  margin-left: ;
  font-size: ;
  color: ;
  /*border: 2px solid green;*/
  border-radius: ;
  padding: ;
  border-left: ;
  position: relative;
  border-bottom: 2px dashed #121272;
}

p {
  font-weight: bold;
}
/*.inline-block {
  display: inline-block;
}*/

menu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 96%;
  margin: 10px auto;
  border: 2px solid #121272;
  border-radius: 20px;
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  flex-wrap: ;
  align-items: center;
  justify-content: space-around;
  font-size: 2em;
  color: #121272;
  z-index: 1;
background: #C8CEEA;

box-shadow: inset 9.91px 9.91px 15px #8B8FA3, inset -9.91px -9.91px 15px #FFFFFF;

/*@media screen and (min-width: 800px) {
  .row {
    -webkit-flex-direction: ;
    flex-direction: row;
  }
  .column {
    width: ;
    -webkit-flex: ;
    -ms-flex: ;
    flex: 50%;
    flex-wrap: wrap;
    padding: 10px;
  }
}*/
@media (min-width: 800px) {
  .column {
    flex: ;
    width: ;
  }
  .myContainer,
  .row {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
