
body {
    display: flex;
    padding: 4pt;
    background: url(images/arsenal1.jpg) no-repeat left;
    background-size: cover;
    font-size: 18px;
    font-family: tillana-bold, cursive, Arial, Helvetica, sans-serif;
    color: rgb(10, 4, 49);
}
* {box-sizing: border-box;}
.container {
    width: 100%;
    margin: auto;
}
@font-face {
    font-family: tillana-bold;
    src: url(fonts/tillana-bold.ttf);
}
@font-face {
    font-family: comic-bold;
    src: url(fonts/ComicNeue-Bold.ttf);
}
@font-face {
    font-family: chunkfive;
    src: url(fonts/Chunkfive.otf);
}

header {
    background: rgba(95, 158, 160, 0.8);
    margin: auto;
    padding: 2pt;
    border: 4px solid rgb(114, 11, 11);
    border-radius: 12pt;
    text-align: center;
}
footer {
    color: rgb(9, 9, 65);
    background-color: rgba(95, 158, 160);
    margin: auto;
    padding: 2pt;
    border: 4px solid rgb(114, 11, 11);
    border-radius: 12pt;
    text-align: center;
}
header h1 {
    color: rgb(9, 9, 65);
    margin: 7pt;
    text-shadow: 1px 1px seashell;
    font-family: tillana-bold, cursive, Arial, Helvetica, sans-serif;
}
footer h4 {
    margin: 2px;
    text-shadow: 1px 1px seashell;
    font-family: tillana-bold, cursive, Arial, Helvetica, sans-serif;
}

/*DESIGNING TABLE*/
table {
    border-collapse: collapse;
    margin: auto;
    width: 96%;
}
caption, th, tfoot td {
    padding: 5px;
    border: 2px solid rgb(77, 25, 25);
    background-color: rgba(0, 139, 139, 0.8);
}
caption {
    font-size: larger;
}
th {
    font-size: larger;
    text-align: center;
}
tr {
    padding: 4pt;
    background-color: rgba(95, 158, 160, 0.8);
    animation-duration: 4s;
}
tr:hover {
    background-color: royalblue;
    border: 4px inset goldenrod;
}
td {
    padding: 10px;
    border: 2px solid rgb(77, 25, 25);
    text-align: ;
}
td:nth-child(2) {
    font-size: 20px;
}
td:nth-child(1), td:nth-child(4){
    padding-left: ;
    text-align: center;
}
tfoot td {text-align: center;}
.fas, .far,.fab {
    margin-right: 5pt;
    margin-top: 5pt;
    float: right;
}

/*ICONS*/
.fa-trophy {float: none;}
.fa-hammer {
    float: none;
    animation: hammer 1s linear 2s infinite alternate-reverse;
}
.fa-paint-roller {
    float: none;
    animation: roller 1s linear 2s infinite alternate-reverse;
}
@keyframes hammer {
    from {transform: rotate(0);}
    to {transform: rotate(50deg);}
}
@keyframes roller {
    from {transform: translateY(0);}
    to {transform: translateY(10px);}
}
